{%extends 'TestApp/base_layout.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'TestApp/css/index.css' %}">
{% endblock %}

{% block header %}
{% include 'TestApp/header.html' %}
{% endblock %}

{% block content %}

<div id="content_container">
    <div id="header">
        <div class="header_content_mainline"> Moving Your Business Forward</div>
        <div id="header_content_tagline">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut
        </div>


    </div>

    <div id="header_lower">
        <div id="header_content_boxline">About Us
            <div id="header_content_boxcontent">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.


            </div>
        </div>
    </div>
    <div id="header_lower">
        <div id="header_content_boxline">Clients</div>
        <div id="header_content_boxcontent">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
            justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
            amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
            rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor
            sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
            aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

        </div>

    </div>
</div>


<div id="bottom_bar_black">
    <div id="main_container">
        <div id="header_lower">
            <div id="header_content_lowerline">Contact
                <div id="header_content_lowerboxcontent">148 Blackways Street<br/>
                    Hargary<br/>
                    Lingvillage<br/>
                    HG43 9HA <BR/>
                    info@domainhappy.com<br/>
                    www.domainhappy.com<br/>
                    <BR/>
                </div>
            </div>
        </div>

        <div id="header_lower">
            <div id="header_content_lowerline">Clients
                <div id="header_content_lowerboxcontent">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                    sanctus est Lorem ipsum dolor sit amet.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}